# 국내,고층,주변국 데이터 + 자외선

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_c = pd.read_csv('./data/국내+고층+주변국.csv')
df_c # 1996년 ~ 21년 8월

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,상하이이슬점 온도,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도
0,1996-01-01,-3.2,-7.9,2.5,0.0,0.0,6.0,340.0,3.5,290.0,...,2.700000,9.466667,10.4,8.2,28.6000,10.0,4.666667,0.00000,1014.266667,-7.866667
1,1996-01-02,0.2,-3.9,3.9,0.0,0.0,9.3,230.0,3.8,230.0,...,-0.262500,2.550000,9.6,-3.9,30.0750,40.0,4.625000,0.00000,1025.587500,-14.050000
2,1996-01-03,-4.5,-8.5,5.5,0.0,0.0,17.5,270.0,8.2,290.0,...,-1.062500,-1.712500,1.0,-4.3,37.0375,60.0,2.125000,0.00000,1028.212500,-14.887500
3,1996-01-04,-5.4,-10.7,-0.1,0.0,0.0,7.1,270.0,3.5,270.0,...,3.312500,1.362500,5.3,-2.4,54.5000,30.0,1.500000,0.00000,1018.650000,-7.100000
4,1996-01-05,-0.1,-2.1,2.0,0.0,2.0,7.8,70.0,3.7,70.0,...,5.625000,0.650000,5.2,-2.7,69.2000,40.0,2.500000,0.00000,1024.350000,-4.725000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9370,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,26.737500,22.200000,26.1,17.8,68.6500,350.0,2.250000,0.00000,1013.300000,15.925000
9371,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,26.957143,23.200000,28.4,18.9,75.6250,320.0,1.500000,-2.07536,1013.387500,18.337500
9372,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,26.700000,20.550000,21.9,18.8,92.9875,50.0,0.875000,-2.07536,1014.112500,19.362500
9373,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,25.887500,22.400000,24.3,21.4,93.1250,40.0,1.500000,-2.07536,1013.275000,21.212500
9374,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,25.287500,19.912500,21.7,18.8,94.7875,50.0,2.625000,-2.07536,1012.675000,19.050000

In [3]:
# 자외선 데이터

df_u = pd.read_csv('./data/자외선최종(2005-2020).csv')
df_u.tail()

              시간  자외선 B 일최고값
6204  2020-12-27       0.041
6205  2020-12-28       0.045
6206  2020-12-29       0.028
6207  2020-12-30       0.048
6208  2020-12-31       0.050

In [4]:
# 보간법으로 채우기

df_u['자외선 B 일최고값'] = df_u['자외선 B 일최고값'].interpolate()
df_u.isnull().sum()

시간            0
자외선 B 일최고값    0
dtype: int64

In [5]:
# 자외선 추가하기

df_c1 = pd.merge(df_c,df_u, how='left', on='시간' )
df_c1

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
0,1996-01-01,-3.2,-7.9,2.5,0.0,0.0,6.0,340.0,3.5,290.0,...,9.466667,10.4,8.2,28.6000,10.0,4.666667,0.00000,1014.266667,-7.866667,NaN
1,1996-01-02,0.2,-3.9,3.9,0.0,0.0,9.3,230.0,3.8,230.0,...,2.550000,9.6,-3.9,30.0750,40.0,4.625000,0.00000,1025.587500,-14.050000,NaN
2,1996-01-03,-4.5,-8.5,5.5,0.0,0.0,17.5,270.0,8.2,290.0,...,-1.712500,1.0,-4.3,37.0375,60.0,2.125000,0.00000,1028.212500,-14.887500,NaN
3,1996-01-04,-5.4,-10.7,-0.1,0.0,0.0,7.1,270.0,3.5,270.0,...,1.362500,5.3,-2.4,54.5000,30.0,1.500000,0.00000,1018.650000,-7.100000,NaN
4,1996-01-05,-0.1,-2.1,2.0,0.0,2.0,7.8,70.0,3.7,70.0,...,0.650000,5.2,-2.7,69.2000,40.0,2.500000,0.00000,1024.350000,-4.725000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9735,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,22.200000,26.1,17.8,68.6500,350.0,2.250000,0.00000,1013.300000,15.925000,NaN
9736,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,23.200000,28.4,18.9,75.6250,320.0,1.500000,-2.07536,1013.387500,18.337500,NaN
9737,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,20.550000,21.9,18.8,92.9875,50.0,0.875000,-2.07536,1014.112500,19.362500,NaN
9738,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,22.400000,24.3,21.4,93.1250,40.0,1.500000,-2.07536,1013.275000,21.212500,NaN
9739,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,19.912500,21.7,18.8,94.7875,50.0,2.625000,-2.07536,1012.675000,19.050000,NaN

# ◆ 구제역

## 통합기후+ 자외선(2005 ~ 2019)

In [6]:
# 인덱스 설정
df_c1 = df_c1.set_index('시간')

# 구간(2000년 ~2019년)
df_c2 = df_c1.loc['2005-01-01':'2019-12-31']
df_c2

,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,서울평균 풍속,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
시간,,,,,,,,,,,,,,,,,,,,,
2005-01-01,-4.9,-8.8,-1.0,0.0,0.0,7.5,290.0,4.8,290.0,2.1,...,-2.4250,1.3,-7.8,36.7375,20.0,4.125,0.0,1028.7375,-15.5500,0.036
2005-01-02,0.4,-5.0,4.5,0.0,0.0,9.8,230.0,6.1,250.0,2.8,...,1.7750,5.4,-1.8,45.7000,10.0,5.750,0.0,1018.0500,-9.5750,0.032
2005-01-03,2.9,-2.0,4.9,0.0,1.5,12.0,250.0,5.9,290.0,3.6,...,-0.6375,4.0,-4.9,37.5500,70.0,4.375,0.0,1029.3625,-14.1500,0.027
2005-01-04,-4.9,-7.4,-1.2,0.0,0.0,13.1,290.0,6.4,290.0,3.2,...,-3.7750,1.1,-7.3,36.2625,280.0,2.625,0.0,1035.5125,-17.3375,0.040
2005-01-05,-3.8,-8.8,0.6,0.0,0.0,6.0,70.0,3.2,70.0,1.6,...,-0.5250,0.7,-4.1,47.6375,10.0,3.125,0.0,1027.5750,-11.2125,0.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,-1.7,-4.6,2.6,0.0,0.0,7.7,290.0,4.3,290.0,2.1,...,5.2500,8.8,0.9,42.1000,350.0,3.500,0.0,1022.8000,-7.0750,0.046
2019-12-28,1.1,-3.6,6.1,0.0,0.0,5.8,70.0,3.7,70.0,2.0,...,8.7250,12.7,4.9,39.7250,350.0,4.250,0.0,1019.5500,-4.4500,0.042
2019-12-29,3.8,1.1,6.2,0.0,1.4,6.6,110.0,4.4,70.0,2.9,...,7.4000,11.9,4.9,62.4250,310.0,3.000,0.0,1021.8250,0.4000,0.017
2019-12-30,2.7,-5.7,6.8,0.0,0.4,13.1,320.0,7.4,320.0,2.9,...,-3.9500,-0.6,-8.9,32.2250,50.0,3.000,0.0,1039.9000,-19.1500,0.035
2019-12-31,-7.9,-10.9,-4.5,0.0,0.0,10.8,340.0,7.5,340.0,3.1,...,-3.3500,0.6,-10.0,32.3000,340.0,2.000,0.0,1037.7250,-18.9250,0.049

In [7]:
df_c2.isnull().sum().sum()

0

## 타겟 뽑기

In [8]:
df_gu = pd.read_csv('./data/구제역_1.csv')
df_gu

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소
0,구제역,일호농장,충청북도 충주시 주덕읍 당우리,2019-01-31 (2019-01-31),소-한우,-,구제역진단과,0025-12-19,2019-01-31,충청북도 충주시
1,구제역,황희선,경기도 안성시 양성면 방축리,2019-01-29 (2019-01-29),소-한우,-,구제역진단과,NaN,2019-01-29,경기도 안성시
2,구제역,이한모,경기도 안성시 금광면 오산리,2019-01-28 (2019-01-29),소-젖소,-,구제역진단과,NaN,2019-01-28,경기도 안성시
3,구제역,한강농장,경기도 김포시 하성면 시암리,2018-04-01 (2018-04-03),돼지-일반,-,구제역진단과,NaN,2018-04-01,경기도 김포시
4,구제역,뒤울농장,경기도 김포시 대곶면 율생리,2018-03-26 (2018-03-27),돼지-비육돈,-,구제역진단과,NaN,2018-03-26,경기도 김포시
...,...,...,...,...,...,...,...,...,...,...
418,구제역,이상재,충청남도 홍성군 갈산면 오두리,2000-04-04 (2000-04-04),소-한우,-,병리진단과,NaN,2000-04-04,충청남도 홍성군
419,구제역,이종복,충청남도 보령시 주산면 신구리,2000-04-04 (2000-04-04),소-한우,-,병리진단과,NaN,2000-04-04,충청남도 보령시
420,구제역,이봉희,충청남도 홍성군 구항면 장양리,2000-04-01 (2000-04-01),소-육우,-,병리진단과,NaN,2000-04-01,충청남도 홍성군
421,구제역,최창국,충청남도 홍성군 구항면 공리,2000-04-01 (2000-04-01),소-육우,-,병리진단과,NaN,2000-04-01,충청남도 홍성군
422,구제역,김영규,경기도 파주시 파평면 금파리,2000-03-26 (2000-03-26),소-젖소,-,병리진단과,NaN,2000-03-26,경기도 파주시

In [9]:
df_gu['발생일시'].values

array(['2019-01-31', '2019-01-29', '2019-01-28', '2018-04-01',
       '2018-03-26', '2017-02-13', '2017-02-13', '2017-02-13',
       '2017-02-12', '2017-02-11', '2017-02-09', '2017-02-08',
       '2017-02-06', '2017-02-05', '2016-03-29', '2016-03-24',
       '2016-03-21', '2016-03-21', '2016-03-21', '2016-03-19',
       '2016-03-17', '2016-03-14', '2016-03-14', '2016-03-11',
       '2016-03-11', '2016-03-11', '2016-03-11', '2016-03-11',
       '2016-03-10', '2016-03-07', '2016-02-23', '2016-02-17',
       '2016-02-17', '2016-01-13', '2016-01-11', '2015-04-28',
       '2015-04-28', '2015-04-21', '2015-04-14', '2015-04-14',
       '2015-04-09', '2015-04-06', '2015-04-06', '2015-04-06',
       '2015-04-02', '2015-04-02', '2015-04-01', '2015-04-01',
       '2015-03-31', '2015-03-31', '2015-03-30', '2015-03-30',
       '2015-03-30', '2015-03-30', '2015-03-27', '2015-03-26',
       '2015-03-25', '2015-03-24', '2015-03-24', '2015-03-23',
       '2015-03-23', '2015-03-23', '2015-03-23', '2015-03-21',
       '2015-03-21', '2015-03-20', '2015-03-20', '2015-03-18',
       '2015-03-18', '2015-03-17', '2015-03-17', '2015-03-17',
       '2015-03-16', '2015-03-16', '2015-03-16', '2015-03-16',
       '2015-03-15', '2015-03-15', '2015-03-14', '2015-03-13',
       '2015-03-13', '2015-03-13', '2015-03-13', '2015-03-12',
       '2015-03-12', '2015-03-12', '2015-03-12', '2015-03-11',
       '2015-03-10', '2015-03-10', '2015-03-09', '2015-03-09',
       '2015-03-08', '2015-03-04', '2015-03-04', '2015-03-03',
       '2015-03-03', '2015-03-03', '2015-03-03', '2015-03-02',
       '2015-03-02', '2015-02-28', '2015-02-28', '2015-02-28',
       '2015-02-26', '2015-02-26', '2015-02-26', '2015-02-25',
       '2015-02-24', '2015-02-24', '2015-02-24', '2015-02-24',
       '2015-02-24', '2015-02-23', '2015-02-23', '2015-02-23',
       '2015-02-22', '2015-02-21', '2015-02-21', '2015-02-21',
       '2015-02-19', '2015-02-17', '2015-02-16', '2015-02-16',
       '2015-02-15', '2015-02-14', '2015-02-14', '2015-02-13',
       '2015-02-13', '2015-02-13', '2015-02-13', '2015-02-13',
       '2015-02-13', '2015-02-12', '2015-02-11', '2015-02-10',
       '2015-02-09', '2015-02-09', '2015-02-09', '2015-02-08',
       '2015-02-07', '2015-02-06', '2015-02-06', '2015-02-06',
       '2015-02-05', '2015-02-05', '2015-02-04', '2015-02-03',
       '2015-02-03', '2015-01-31', '2015-01-30', '2015-01-29',
       '2015-01-28', '2015-01-27', '2015-01-24', '2015-01-23',
       '2015-01-23', '2015-01-20', '2015-01-20', '2015-01-19',
       '2015-01-19', '2015-01-19', '2015-01-18', '2015-01-17',
       '2015-01-17', '2015-01-16', '2015-01-15', '2015-01-15',
       '2015-01-15', '2015-01-14', '2015-01-13', '2015-01-12',
       '2015-01-12', '2015-01-12', '2015-01-11', '2015-01-11',
       '2015-01-11', '2015-01-10', '2015-01-09', '2015-01-08',
       '2015-01-08', '2015-01-08', '2015-01-07', '2015-01-07',
       '2015-01-06', '2015-01-06', '2015-01-06', '2015-01-05',
       '2015-01-04', '2015-01-03', '2015-01-03', '2015-01-03',
       '2015-01-02', '2015-01-01', '2014-12-31', '2014-12-31',
       '2014-12-30', '2014-12-29', '2014-12-29', '2014-12-28',
       '2014-12-27', '2014-12-27', '2014-12-25', '2014-12-23',
       '2014-12-22', '2014-12-21', '2014-12-19', '2014-12-18',
       '2014-12-18', '2014-12-18', '2014-12-18', '2014-12-18',
       '2014-12-16', '2014-12-15', '2014-12-15', '2014-12-13',
       '2014-12-12', '2014-12-09', '2014-12-04', '2014-12-03',
       '2014-08-06', '2014-07-28', '2014-07-23', '2011-04-21',
       '2011-04-19', '2011-04-16', '2011-02-25', '2011-02-18',
       '2011-02-18', '2011-02-14', '2011-02-06', '2011-02-05',
       '2011-02-04', '2011-02-02', '2011-02-01', '2011-01-31',
       '2011-01-29', '2011-01-24', '2011-01-24', '2011-01-24',
       '2011-01-23', '2011-01-21', '2011-01-21', '2011-01-21',
       '2011-01-21', '2011-01-21', '2011-01-20', '2011-01-20',
       '2011-01-19', '2011-01-19', '2011-01-19', '2011-01-18',
       '2011-01-18', '2011-01-17', '2011-01-17', '2011-01-15',
       '2011-01-14', '2011-01-12', '2011-01-12', '2011-01-11',
       '2011-01-10', '2011-01-10', '2011-01-10', '2011-01-09',
       '2011-01-09', '2011-01-09', '2011-01-09', '2011-01-08',
       '2011-01-08', '2011-01-08', '2011-01-07', '2011-01-07',
       '2011-01-07', '2011-01-07', '2011-01-07', '2011-01-07',
       '2011-01-06', '2011-01-06', '2011-01-06', '2011-01-06',
       '2011-01-05', '2011-01-05', '2011-01-05', '2011-01-05',
       '2011-01-04', '2011-01-04', '2011-01-04', '2011-01-04',
       '2011-01-04', '2011-01-03', '2011-01-03', '2011-01-03',
       '2011-01-03', '2011-01-02', '2011-01-02', '2011-01-02',
       '2011-01-02', '2011-01-02', '2011-01-01', '2011-01-01',
       '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
       '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
       '2010-12-31', '2010-12-31', '2010-12-30', '2010-12-30',
       '2010-12-30', '2010-12-30', '2010-12-29', '2010-12-27',
       '2010-12-27', '2010-12-27', '2010-12-27', '2010-12-26',
       '2010-12-26', '2010-12-26', '2010-12-25', '2010-12-24',
       '2010-12-23', '2010-12-23', '2010-12-23', '2010-12-23',
       '2010-12-22', '2010-12-22', '2010-12-22', '2010-12-21',
       '2010-12-21', '2010-12-21', '2010-12-21', '2010-12-21',
       '2010-12-21', '2010-12-20', '2010-12-19', '2010-12-18',
       '2010-12-15', '2010-12-14', '2010-12-14', '2010-12-10',
       '2010-12-06', '2010-12-04', '2010-12-04', '2010-12-03',
       '2010-12-03', '2010-12-03', '2010-12-03', '2010-12-03',
       '2010-12-03', '2010-12-03', '2010-12-03', '2010-12-03',
       '2010-12-03', '2010-12-03', '2010-12-02', '2010-12-02',
       '2010-12-02', '2010-12-02', '2010-12-02', '2010-12-02',
       '2010-12-02', '2010-12-02', '2010-12-02', '2010-12-02',
       '2010-12-02', '2010-12-02', '2010-12-01', '2010-12-01',
       '2010-12-01', '2010-11-29', '2010-11-28', '2010-05-06',
       '2010-04-30', '2010-04-27', '2010-04-21', '2010-04-21',
       '2010-04-19', '2010-04-10', '2010-04-09', '2010-04-09',
       '2010-04-09', '2010-04-08', '2010-01-30', '2010-01-19',
       '2010-01-16', '2010-01-16', '2010-01-13', '2010-01-07',
       '2002-06-23', '2002-06-10', '2002-06-07', '2002-06-02',
       '2002-05-19', '2002-05-19', '2002-05-19', '2002-05-18',
       '2002-05-12', '2002-05-12', '2002-05-10', '2002-05-10',
       '2002-05-10', '2002-05-10', '2002-05-03', '2002-05-02',
       '2000-04-16', '2000-04-14', '2000-04-13', '2000-04-11',
       '2000-04-09', '2000-04-09', '2000-04-09', '2000-04-04',
       '2000-04-04', '2000-04-04', '2000-04-04', '2000-04-04',
       '2000-04-01', '2000-04-01', '2000-03-26'], dtype=object)

In [10]:
# 발생시 1 넣어줄 [1,1,1,...1] 
answer = np.repeat(1, len(df_gu))

# 데이터프레임만들기

target_lst = df_gu['발생일시']
df_target = pd.DataFrame({'시간':target_lst, '구제역발생여부':answer})
df_target.value_counts()

시간          구제역발생여부
2010-12-02  1          12
2010-12-03  1          11
2011-01-01  1          10
2011-01-07  1           6
2010-12-21  1           6
                       ..
2014-12-04  1           1
2014-12-09  1           1
2014-12-12  1           1
2014-12-13  1           1
2019-01-31  1           1
Length: 214, dtype: int64

In [11]:
# 중복날짜 제거
df_target.drop_duplicates(inplace=True)
df_target.value_counts()

시간          구제역발생여부
2000-03-26  1          1
2015-01-30  1          1
2015-02-03  1          1
2015-02-04  1          1
2015-02-05  1          1
                      ..
2011-01-24  1          1
2011-01-29  1          1
2011-01-31  1          1
2011-02-01  1          1
2019-01-31  1          1
Length: 214, dtype: int64

## 기후데이터 + 구제역 타겟 합치기

In [12]:
# 합치기
df_model = pd.merge(df_c2, df_target, how='left' ,on='시간')

# 타겟값 1 나머지 0 
df_model['구제역발생여부'] = df_model['구제역발생여부'].apply(lambda x : x if x == 1 else 0)
df_model

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값,구제역발생여부
0,2005-01-01,-4.9,-8.8,-1.0,0.0,0.0,7.5,290.0,4.8,290.0,...,1.3,-7.8,36.7375,20.0,4.125,0.0,1028.7375,-15.5500,0.036,0.0
1,2005-01-02,0.4,-5.0,4.5,0.0,0.0,9.8,230.0,6.1,250.0,...,5.4,-1.8,45.7000,10.0,5.750,0.0,1018.0500,-9.5750,0.032,0.0
2,2005-01-03,2.9,-2.0,4.9,0.0,1.5,12.0,250.0,5.9,290.0,...,4.0,-4.9,37.5500,70.0,4.375,0.0,1029.3625,-14.1500,0.027,0.0
3,2005-01-04,-4.9,-7.4,-1.2,0.0,0.0,13.1,290.0,6.4,290.0,...,1.1,-7.3,36.2625,280.0,2.625,0.0,1035.5125,-17.3375,0.040,0.0
4,2005-01-05,-3.8,-8.8,0.6,0.0,0.0,6.0,70.0,3.2,70.0,...,0.7,-4.1,47.6375,10.0,3.125,0.0,1027.5750,-11.2125,0.044,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5838,2019-12-27,-1.7,-4.6,2.6,0.0,0.0,7.7,290.0,4.3,290.0,...,8.8,0.9,42.1000,350.0,3.500,0.0,1022.8000,-7.0750,0.046,0.0
5839,2019-12-28,1.1,-3.6,6.1,0.0,0.0,5.8,70.0,3.7,70.0,...,12.7,4.9,39.7250,350.0,4.250,0.0,1019.5500,-4.4500,0.042,0.0
5840,2019-12-29,3.8,1.1,6.2,0.0,1.4,6.6,110.0,4.4,70.0,...,11.9,4.9,62.4250,310.0,3.000,0.0,1021.8250,0.4000,0.017,0.0
5841,2019-12-30,2.7,-5.7,6.8,0.0,0.4,13.1,320.0,7.4,320.0,...,-0.6,-8.9,32.2250,50.0,3.000,0.0,1039.9000,-19.1500,0.035,0.0
5842,2019-12-31,-7.9,-10.9,-4.5,0.0,0.0,10.8,340.0,7.5,340.0,...,0.6,-10.0,32.3000,340.0,2.000,0.0,1037.7250,-18.9250,0.049,0.0

In [13]:
df_model.to_csv('./data/구제역타겟추가.csv')

# ◆ 조류인플루엔자(AI)

In [14]:
df_ai = pd.read_csv('./data/조류인플루엔자_1.csv')
df_ai

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소
0,고병원성조류인플루엔자,다산1농장,전라북도 부안군 진서면 진서리,2021-12-27 (2021-12-28),오리-종오리,-,조류인플루엔자연구진단과,NaN,2021-12-27,전라북도 부안군
1,고병원성조류인플루엔자,영광농장,세종특별자치시 부강면 등곡리,2021-12-23 (2021-12-24),닭-산란계,-,조류인플루엔자연구진단과,NaN,2021-12-23,세종특별자치시 부강면
2,고병원성조류인플루엔자,현대농장,전라남도 영암군 시종면 신학리,2021-12-20 (2021-12-22),닭-육계,-,조류인플루엔자연구진단과,NaN,2021-12-20,전라남도 영암군
3,고병원성조류인플루엔자,지원농장,경기도 파주시 광탄면 발랑리,2021-12-17 (2021-12-17),메추리-비분류,-,조류인플루엔자연구진단과,NaN,2021-12-17,경기도 파주시
4,고병원성조류인플루엔자,보성3농장,세종특별자치시 연동면 문주리,2021-12-16 (2021-12-17),닭-산란계,-,조류인플루엔자연구진단과,NaN,2021-12-16,세종특별자치시 연동면
...,...,...,...,...,...,...,...,...,...,...
1077,고병원성조류인플루엔자,박병준,충청남도 천안시 동남구 북면 운용리,2003-12-24 (2003-12-20),오리,-,조류질병과,NaN,2003-12-24,충청남도 천안시
1078,고병원성조류인플루엔자,가나안농장,전라남도 나주시 산포면 매성리,2003-12-21 (2003-12-25),오리,-,조류질병과,NaN,2003-12-21,전라남도 나주시
1079,고병원성조류인플루엔자,서기환,충청북도 음성군 삼성면 용성리,2003-12-19 (2003-12-19),닭,-,조류질병과,NaN,2003-12-19,충청북도 음성군
1080,고병원성조류인플루엔자,김학면,충청북도 음성군 삼성면 덕정리,2003-12-17 (2003-12-17),오리,-,조류질병과,NaN,2003-12-17,충청북도 음성군
1081,고병원성조류인플루엔자,박덕규,충청북도 음성군 삼성면 용성리,2003-12-12 (2003-12-12),닭-육계,-,조류질병과,NaN,2003-12-12,충청북도 음성군

In [15]:
# 발생시 1 넣어줄 [1,1,1,...1] 
answer = np.repeat(1, len(df_ai))

# 데이터프레임만들기
target_lst = df_ai['발생일시']
df_target = pd.DataFrame({'시간':target_lst, 'AI발생여부':answer})
df_target.value_counts()

시간          AI발생여부
2014-02-19  1         21
2016-12-02  1         16
2016-12-13  1         15
2016-12-12  1         14
2016-12-05  1         13
                      ..
2015-01-06  1          1
2014-12-26  1          1
2014-12-13  1          1
2014-12-11  1          1
2021-12-27  1          1
Length: 467, dtype: int64

In [16]:
# 중복날짜 제거
df_target.drop_duplicates(inplace=True)
df_target.value_counts()

시간          AI발생여부
2003-12-12  1         1
2016-12-29  1         1
2017-01-10  1         1
2017-01-09  1         1
2017-01-08  1         1
                     ..
2014-07-25  1         1
2014-06-26  1         1
2014-06-25  1         1
2014-06-16  1         1
2021-12-27  1         1
Length: 467, dtype: int64

In [17]:
# 구간(2005년 ~2021년8월)
df_c2 = df_c1.loc['2005-01-01':'2021-08-31']
df_c2

,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,서울평균 풍속,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
시간,,,,,,,,,,,,,,,,,,,,,
2005-01-01,-4.9,-8.8,-1.0,0.0,0.0,7.5,290.0,4.8,290.0,2.1,...,-2.4250,1.3,-7.8,36.7375,20.0,4.125,0.00000,1028.7375,-15.5500,0.036
2005-01-02,0.4,-5.0,4.5,0.0,0.0,9.8,230.0,6.1,250.0,2.8,...,1.7750,5.4,-1.8,45.7000,10.0,5.750,0.00000,1018.0500,-9.5750,0.032
2005-01-03,2.9,-2.0,4.9,0.0,1.5,12.0,250.0,5.9,290.0,3.6,...,-0.6375,4.0,-4.9,37.5500,70.0,4.375,0.00000,1029.3625,-14.1500,0.027
2005-01-04,-4.9,-7.4,-1.2,0.0,0.0,13.1,290.0,6.4,290.0,3.2,...,-3.7750,1.1,-7.3,36.2625,280.0,2.625,0.00000,1035.5125,-17.3375,0.040
2005-01-05,-3.8,-8.8,0.6,0.0,0.0,6.0,70.0,3.2,70.0,1.6,...,-0.5250,0.7,-4.1,47.6375,10.0,3.125,0.00000,1027.5750,-11.2125,0.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,1.3,...,22.2000,26.1,17.8,68.6500,350.0,2.250,0.00000,1013.3000,15.9250,NaN
2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,1.8,...,23.2000,28.4,18.9,75.6250,320.0,1.500,-2.07536,1013.3875,18.3375,NaN
2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,1.6,...,20.5500,21.9,18.8,92.9875,50.0,0.875,-2.07536,1014.1125,19.3625,NaN
2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,1.4,...,22.4000,24.3,21.4,93.1250,40.0,1.500,-2.07536,1013.2750,21.2125,NaN
2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,2.3,...,19.9125,21.7,18.8,94.7875,50.0,2.625,-2.07536,1012.6750,19.0500,NaN

## 기후 데이터 + AI타겟 합치기

In [18]:
# 합치기
df_model = pd.merge(df_c2, df_target, how='left' ,on='시간')

# 타겟값 1 나머지 0 
df_model['AI발생여부'] = df_model['AI발생여부'].apply(lambda x : x if x == 1 else 0)
df_model

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값,AI발생여부
0,2005-01-01,-4.9,-8.8,-1.0,0.0,0.0,7.5,290.0,4.8,290.0,...,1.3,-7.8,36.7375,20.0,4.125,0.00000,1028.7375,-15.5500,0.036,0.0
1,2005-01-02,0.4,-5.0,4.5,0.0,0.0,9.8,230.0,6.1,250.0,...,5.4,-1.8,45.7000,10.0,5.750,0.00000,1018.0500,-9.5750,0.032,0.0
2,2005-01-03,2.9,-2.0,4.9,0.0,1.5,12.0,250.0,5.9,290.0,...,4.0,-4.9,37.5500,70.0,4.375,0.00000,1029.3625,-14.1500,0.027,0.0
3,2005-01-04,-4.9,-7.4,-1.2,0.0,0.0,13.1,290.0,6.4,290.0,...,1.1,-7.3,36.2625,280.0,2.625,0.00000,1035.5125,-17.3375,0.040,0.0
4,2005-01-05,-3.8,-8.8,0.6,0.0,0.0,6.0,70.0,3.2,70.0,...,0.7,-4.1,47.6375,10.0,3.125,0.00000,1027.5750,-11.2125,0.044,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6447,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,26.1,17.8,68.6500,350.0,2.250,0.00000,1013.3000,15.9250,NaN,0.0
6448,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,28.4,18.9,75.6250,320.0,1.500,-2.07536,1013.3875,18.3375,NaN,0.0
6449,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,21.9,18.8,92.9875,50.0,0.875,-2.07536,1014.1125,19.3625,NaN,0.0
6450,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,24.3,21.4,93.1250,40.0,1.500,-2.07536,1013.2750,21.2125,NaN,0.0
6451,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,21.7,18.8,94.7875,50.0,2.625,-2.07536,1012.6750,19.0500,NaN,0.0

In [19]:
# df_model.to_csv('./data/AI타겟추가.csv')

# ◆ 산불

In [20]:
df_sanbul = pd.read_csv('./data/산불_1.csv')
df_sanbul

            발생일시      진화종료일시    발생원인   발생장소  피해면적_합계
0     2021-12-30  2021-12-30  주택화재비화  경북 봉화     0.50
1     2021-12-30  2021-12-30    원인미상  충북 청주     0.40
2     2021-12-29  2021-12-29    원인미상  경남 남해     0.50
3     2021-12-29  2021-12-29   쓰레기소각  전남 순천     0.03
4     2021-12-29  2021-12-29   입산자실화  전남 완도     0.10
...          ...         ...     ...    ...      ...
8199    2006-1-2    2006-1-2   입산자실화  경남 마산     0.05
8200    2006-1-2    2006-1-2   입산자실화  대구 달서     0.02
8201    2006-1-3    2006-1-3   입산자실화  경북 칠곡    10.00
8202    2006-1-3    2006-1-3   입산자실화  경북 칠곡     3.00
8203    2006-1-3    2006-1-3   입산자실화  경북 영덕     0.80

[8204 rows x 5 columns]

In [21]:
# df_sanbul['발생일시'] = df_sanbul['발생일시'].astype('datetime64')
df_sanbul = df_sanbul.sort_values(by='발생일시',ascending= False)
df_sanbul

           발생일시     진화종료일시     발생원인   발생장소  피해면적_합계
48    2021-9-20  2021-9-20    쓰레기소각  인천 강화     0.16
54     2021-8-9  2021-8-10    입산자실화   대전 동     0.01
49    2021-8-18  2021-8-18  입산자실화추정  충남 부여     5.00
50    2021-8-18  2021-8-18  입산자실화추정  충남 서천     0.09
51    2021-8-13  2021-8-13  입산자실화추정  인천 강화     0.82
...         ...        ...      ...    ...      ...
6701  2003-1-13  2003-1-13    쓰레기소각  강원 동해     0.10
6702  2003-1-13  2003-1-13  입산자실화추정  경남 양산     0.40
6700  2003-1-12  2003-1-12  입산자실화추정  경남 합천     0.70
6699  2003-1-11  2003-1-11  입산자실화추정  경북 안동     0.30
6747   2003-1-1   2003-1-1    성묘객실화  경북 경산     0.70

[8204 rows x 5 columns]

In [22]:
# 발생시 1 넣어줄 [1,1,1,...1] 
answer = np.repeat(1, len(df_sanbul))

# 데이터프레임만들기
target_lst = df_sanbul['발생일시']
df_target = pd.DataFrame({'시간':target_lst, '산불발생여부':answer})
df_target.value_counts()

시간         산불발생여부
2015-3-22  1         31
2003-4-5   1         27
2006-3-25  1         27
2003-4-6   1         27
2013-3-9   1         25
                     ..
2013-4-19  1          1
2013-3-7   1          1
2013-3-25  1          1
2013-3-24  1          1
2021-9-20  1          1
Length: 2577, dtype: int64

In [23]:
# 중복날짜 제거
df_target.drop_duplicates(inplace=True)
df_target.value_counts()

시간         산불발생여부
2003-1-1   1         1
2016-5-12  1         1
2016-6-5   1         1
2016-6-6   1         1
2016-7-11  1         1
                    ..
2009-3-18  1         1
2009-3-19  1         1
2009-3-2   1         1
2009-3-20  1         1
2021-9-20  1         1
Length: 2577, dtype: int64

In [24]:
df_c.set_index('시간',inplace= True)

In [25]:
# 구간(2003년 ~2021년8월)
df_c2 = df_c.loc['2003-01-01':'2021-08-31']
df_c2

,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,서울평균 풍속,...,상하이이슬점 온도,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도
시간,,,,,,,,,,,,,,,,,,,,,
2003-01-01,-4.7,-7.1,-1.0,0.0,0.0,9.9,270.0,5.9,270.0,2.9,...,-2.025000,-3.4750,0.1,-8.9,43.6875,280.0,3.250,0.00000,1034.7250,-14.2875
2003-01-02,-4.3,-9.2,0.0,0.0,0.0,7.5,70.0,4.3,270.0,1.8,...,2.025000,-3.1375,0.1,-8.5,62.7750,80.0,4.125,0.00000,1032.0750,-9.7375
2003-01-03,-3.6,-6.8,-0.3,0.0,1.3,15.2,340.0,7.1,320.0,2.7,...,-6.575000,-9.5125,-5.5,-13.0,41.6875,60.0,3.000,0.00000,1034.9375,-20.5375
2003-01-04,-10.2,-13.4,-6.8,0.0,0.2,13.8,270.0,6.6,270.0,4.1,...,-12.637500,-10.0250,-5.9,-13.0,47.7125,70.0,3.625,0.00000,1040.1000,-19.3250
2003-01-05,-12.8,-15.5,-9.1,0.0,0.0,12.0,250.0,6.1,270.0,3.8,...,-9.037500,-6.7750,-2.5,-13.1,36.6375,350.0,2.625,0.00000,1039.2375,-19.7625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,1.3,...,26.737500,22.2000,26.1,17.8,68.6500,350.0,2.250,0.00000,1013.3000,15.9250
2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,1.8,...,26.957143,23.2000,28.4,18.9,75.6250,320.0,1.500,-2.07536,1013.3875,18.3375
2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,1.6,...,26.700000,20.5500,21.9,18.8,92.9875,50.0,0.875,-2.07536,1014.1125,19.3625
2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,1.4,...,25.887500,22.4000,24.3,21.4,93.1250,40.0,1.500,-2.07536,1013.2750,21.2125
2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,2.3,...,25.287500,19.9125,21.7,18.8,94.7875,50.0,2.625,-2.07536,1012.6750,19.0500

# 기후 데이터 + 산불 타겟 합치기

In [26]:
# 날씨 인덱스에서 원위치 후 합치기
df_c2.reset_index(inplace=True)
df_model = pd.merge(df_c2, df_target, how='left' ,on='시간')

# 타겟값 1 나머지 0 
df_model['산불발생여부'] = df_model['산불발생여부'].apply(lambda x : x if x == 1 else 0)
df_model

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,산불발생여부
0,2003-01-01,-4.7,-7.1,-1.0,0.0,0.0,9.9,270.0,5.9,270.0,...,-3.4750,0.1,-8.9,43.6875,280.0,3.250,0.00000,1034.7250,-14.2875,0.0
1,2003-01-02,-4.3,-9.2,0.0,0.0,0.0,7.5,70.0,4.3,270.0,...,-3.1375,0.1,-8.5,62.7750,80.0,4.125,0.00000,1032.0750,-9.7375,0.0
2,2003-01-03,-3.6,-6.8,-0.3,0.0,1.3,15.2,340.0,7.1,320.0,...,-9.5125,-5.5,-13.0,41.6875,60.0,3.000,0.00000,1034.9375,-20.5375,0.0
3,2003-01-04,-10.2,-13.4,-6.8,0.0,0.2,13.8,270.0,6.6,270.0,...,-10.0250,-5.9,-13.0,47.7125,70.0,3.625,0.00000,1040.1000,-19.3250,0.0
4,2003-01-05,-12.8,-15.5,-9.1,0.0,0.0,12.0,250.0,6.1,270.0,...,-6.7750,-2.5,-13.1,36.6375,350.0,2.625,0.00000,1039.2375,-19.7625,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6813,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,22.2000,26.1,17.8,68.6500,350.0,2.250,0.00000,1013.3000,15.9250,0.0
6814,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,23.2000,28.4,18.9,75.6250,320.0,1.500,-2.07536,1013.3875,18.3375,0.0
6815,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,20.5500,21.9,18.8,92.9875,50.0,0.875,-2.07536,1014.1125,19.3625,0.0
6816,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,22.4000,24.3,21.4,93.1250,40.0,1.500,-2.07536,1013.2750,21.2125,0.0
6817,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,19.9125,21.7,18.8,94.7875,50.0,2.625,-2.07536,1012.6750,19.0500,0.0

In [27]:
df_model.to_csv('./data/산불타겟추가.csv')

## 타겟 기준 수정: 국내 전체

In [28]:
df_all = pd.read_csv('./data/산불타겟_국내.csv')
df_all

           발생일시  피해면적_합계
0      2019-4-4  2881.19
1     2020-4-24  1947.62
2      2005-4-4  1184.67
3      2017-5-6  1108.53
4     2021-2-21   577.98
..          ...      ...
635  2006-10-14     1.08
636    2009-1-4     1.08
637   2007-3-14     1.08
638   2020-3-30     1.08
639   2005-4-19     1.08

[640 rows x 2 columns]

In [29]:
# 발생시 1 넣어줄 [1,1,1,...1] 
answer = np.repeat(1, len(df_all))

# 데이터프레임만들기
target_lst = df_all['발생일시']
df_target = pd.DataFrame({'시간':target_lst, '산불발생여부':answer})
df_target.value_counts()

시간          산불발생여부
2003-11-17  1         1
2003-12-10  1         1
2016-12-17  1         1
2016-2-10   1         1
2016-2-11   1         1
                     ..
2007-5-9    1         1
2007-6-16   1         1
2008-10-17  1         1
2008-10-18  1         1
2021-8-18   1         1
Length: 640, dtype: int64

In [30]:
# 날씨 인덱스에서 원위치 후 합치기
df_c2.reset_index(inplace=True)
df_model = pd.merge(df_c2, df_target, how='left' ,on='시간')

# 타겟값 1 나머지 0 
df_model['산불발생여부'] = df_model['산불발생여부'].apply(lambda x : x if x == 1 else 0)
df_model.drop(columns = ['index'], inplace=True)
df_model

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,산불발생여부
0,2003-01-01,-4.7,-7.1,-1.0,0.0,0.0,9.9,270.0,5.9,270.0,...,-3.4750,0.1,-8.9,43.6875,280.0,3.250,0.00000,1034.7250,-14.2875,0.0
1,2003-01-02,-4.3,-9.2,0.0,0.0,0.0,7.5,70.0,4.3,270.0,...,-3.1375,0.1,-8.5,62.7750,80.0,4.125,0.00000,1032.0750,-9.7375,0.0
2,2003-01-03,-3.6,-6.8,-0.3,0.0,1.3,15.2,340.0,7.1,320.0,...,-9.5125,-5.5,-13.0,41.6875,60.0,3.000,0.00000,1034.9375,-20.5375,0.0
3,2003-01-04,-10.2,-13.4,-6.8,0.0,0.2,13.8,270.0,6.6,270.0,...,-10.0250,-5.9,-13.0,47.7125,70.0,3.625,0.00000,1040.1000,-19.3250,0.0
4,2003-01-05,-12.8,-15.5,-9.1,0.0,0.0,12.0,250.0,6.1,270.0,...,-6.7750,-2.5,-13.1,36.6375,350.0,2.625,0.00000,1039.2375,-19.7625,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6813,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,22.2000,26.1,17.8,68.6500,350.0,2.250,0.00000,1013.3000,15.9250,0.0
6814,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,23.2000,28.4,18.9,75.6250,320.0,1.500,-2.07536,1013.3875,18.3375,0.0
6815,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,20.5500,21.9,18.8,92.9875,50.0,0.875,-2.07536,1014.1125,19.3625,0.0
6816,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,22.4000,24.3,21.4,93.1250,40.0,1.500,-2.07536,1013.2750,21.2125,0.0
6817,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,19.9125,21.7,18.8,94.7875,50.0,2.625,-2.07536,1012.6750,19.0500,0.0

In [31]:
df_model.to_csv('./data/산불타겟추가_피해면적기준.csv')

## 타겟 기준 수정: 가장 많은 지역

In [32]:
df_kb = pd.read_csv('./data/산불타겟_경북.csv')
df_kb

           발생일시      진화종료일시          발생원인   발생장소  피해면적_합계 발생장소_광역시
0     2020-4-24   2020-4-27      입산자실화 추정  경북 안동  1944.00       경북
1      2009-4-6    2009-4-7       입산자실화추정  경북 칠곡   407.00       경북
2     2021-2-21   2021-2-23          원인미상  경북 안동   307.00       경북
3     2004-4-16   2004-4-17       입산자실화추정  경북 포항   224.00       경북
4     2004-3-28   2004-3-29         쓰레기소각  경북 봉화   123.00       경북
..          ...         ...           ...    ...      ...      ...
991    2020-4-7    2020-4-7          원인미상  경북 의성     0.01       경북
992   2015-11-3   2015-11-3  자연발화추정(퇴비더미)  경북 영주     0.01       경북
993  2006-12-30  2006-12-30         입산자실화  경북 영덕     0.01       경북
994   2016-1-17   2016-1-17       농산폐기물소각  경북 안동     0.01       경북
995   2006-11-5   2006-11-5         입산자실화  경북 문경     0.01       경북

[996 rows x 6 columns]

In [33]:
# 발생시 1 넣어줄 [1,1,1,...1] 
answer = np.repeat(1, len(df_kb))

# 데이터프레임만들기
target_lst = df_kb['발생일시']
df_target = pd.DataFrame({'시간':target_lst, '산불발생여부':answer})
df_target.value_counts()

시간          산불발생여부
2003-1-1    1         1
2017-12-16  1         1
2017-11-11  1         1
2017-11-15  1         1
2017-11-16  1         1
                     ..
2009-11-24  1         1
2009-11-3   1         1
2009-11-5   1         1
2009-11-6   1         1
2021-7-31   1         1
Length: 996, dtype: int64

In [34]:
# 날씨 인덱스에서 원위치 후 합치기
df_c2.reset_index(inplace=True)
df_model = pd.merge(df_c2, df_target, how='left' ,on='시간')

# 타겟값 1 나머지 0 
df_model['산불발생여부'] = df_model['산불발생여부'].apply(lambda x : x if x == 1 else 0)
df_model.drop(columns = ['index','level_0'],inplace=True)
df_model

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,산불발생여부
0,2003-01-01,-4.7,-7.1,-1.0,0.0,0.0,9.9,270.0,5.9,270.0,...,-3.4750,0.1,-8.9,43.6875,280.0,3.250,0.00000,1034.7250,-14.2875,0.0
1,2003-01-02,-4.3,-9.2,0.0,0.0,0.0,7.5,70.0,4.3,270.0,...,-3.1375,0.1,-8.5,62.7750,80.0,4.125,0.00000,1032.0750,-9.7375,0.0
2,2003-01-03,-3.6,-6.8,-0.3,0.0,1.3,15.2,340.0,7.1,320.0,...,-9.5125,-5.5,-13.0,41.6875,60.0,3.000,0.00000,1034.9375,-20.5375,0.0
3,2003-01-04,-10.2,-13.4,-6.8,0.0,0.2,13.8,270.0,6.6,270.0,...,-10.0250,-5.9,-13.0,47.7125,70.0,3.625,0.00000,1040.1000,-19.3250,0.0
4,2003-01-05,-12.8,-15.5,-9.1,0.0,0.0,12.0,250.0,6.1,270.0,...,-6.7750,-2.5,-13.1,36.6375,350.0,2.625,0.00000,1039.2375,-19.7625,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6813,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,22.2000,26.1,17.8,68.6500,350.0,2.250,0.00000,1013.3000,15.9250,0.0
6814,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,23.2000,28.4,18.9,75.6250,320.0,1.500,-2.07536,1013.3875,18.3375,0.0
6815,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,20.5500,21.9,18.8,92.9875,50.0,0.875,-2.07536,1014.1125,19.3625,0.0
6816,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,22.4000,24.3,21.4,93.1250,40.0,1.500,-2.07536,1013.2750,21.2125,0.0
6817,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,19.9125,21.7,18.8,94.7875,50.0,2.625,-2.07536,1012.6750,19.0500,0.0

In [35]:
df_model.to_csv('./data/산불타겟추가_경북만.csv')