In [1]:
## 날씨,자외선, 구제역 데이터(타겟)

## 2. 구제역 병인체
# Picornaviridae Aphthovirus,작은 RNA 바이러스로서 이는 7개의 혈청형 즉 A, O, C, Asia1, SAT1, SAT2, SAT3형으로 분류되며 
# 이 주요 혈청형은 다시 80여 가지의 아형으로 나뉨. 바이러스의 생존기간은 온도, 습도, pH 및 자외선 등에 영향을 많이 받으며, 
# 통상 물에서는 최대 50일, 흙‧마대‧건초 등에서는 환경조건에 따라서 26~200일, 
# 혈액 등으로 오염된 나무나 금속 등에서는 최대 35일까지 생존한 기록이 있음.
# 구제역 바이러스 생존기간: 온도,습도,자외선, ph


# 시기상으로 보면 어떻습니까?겨울철 날씨와 구제역 발생, 전파 관련이있습니까?-시기상으로 굉장히 안 좋습니다.
# 바이러스라고 하는 원인체는 낮은 온도에서 굉장히 오랫동안 생존을 하게 됩니다.
# 여러 보도매체에서 보셨겠지만 온도가 올라갈수록 바이러스는 빨리 사멸하게 되고낮은 온도에서는 
# 오래 생존을 하게 되는데 지금 겨울철 특히 12월에 많이 추웠단말이죠.
# 그래서 바이러스가 생존기간이 굉장히 길어질 가능성이 많고.

# 두번째는 지금 영하 10도 이하의 낮은 온도의 기후가 계속되고 있는데 이럴 때 저희가 소독을 하는 데 굉장히 어려움이 있습니다.
# 첫째는 소독약이 얼어붙게 되고.
# 그 다음에 붙어 있던 오물들이 차량이라든지 기구라든지 사람의 신발 이런 곳에붙어서 잘 떨어지지 않고 해서
# 실제 바이러스가 장거리까지 전파될 그럴 가능성이있죠.

# 그래서 기후여건은 아주 안 좋은 그런 상태라고 볼 수 있습니다.
# 출처 :https://news.kbs.co.kr/news/view.do?ncd=2216136

In [2]:
# 사용할 feature

# 온도: 지역온도 , 주변국온도, 
# 습도 : 
# 자외선: 


# '평균 기온', '최저 기온', '최저 기온 시각', '최고 기온',
# '최대 기온 시각', '10분 최다 강수량', '10분 최다강수량 시각', '1시간 최다강수량', '1시간 최다 강수량 시각','sumRnDur',
# '일강수량'
# '최대 순간풍속', '최대 순간 풍속 풍향', '최대 순간풍속 시간', '최대 풍속','최대 풍속 풍향', '최대 풍속 시각', '평균 풍속', 
# '풍정합', '최대 풍향'

# 평균 이슬점온도'

# '최소 상대습도','평균 상대습도 시각', '평균 상대습도'

# '평균 증기압', '평균 현지기압', '최고 해면 기압', '최고 해면기압 시각','최저 해면기압', '최저 해면기압 시각', '평균 해면기압'

#  '가조시간', '합계 일조 시간', '1시간 최다 일사량 시각','1시간 최다 일사량', '합계 일사'

#  '일 최심신적설', '일 최심신적설 시각', '일 최심적설', '일 최심적설 시각',

#  '합계 3시간 신적설', '평균 전운량', '평균 중하층운량', 

# '평균 지면온도', '최저 초상온도', 
# '평균 5cm 지중온도','평균10cm 지중온도', '평균 20cm 지중온도', '평균 30cm 지중온도', '0.5m 지중온도', '1.0m 지중온도',
# '1.5m 지중온도', '3.0m 지중온도', '5.0m 지중온도',

# '합계 대형증발량', '합계 소형증발량', '9-9강수',
# '일기현상', '안개 계속 시간'

In [2]:
import pandas as pd
import numpy as np

In [3]:
# 구제역 데이터
df_gu = pd.read_csv('./data/구제역_1.csv')
df_gu.head()

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소
0,구제역,일호농장,충청북도 충주시 주덕읍 당우리,2019-01-31 (2019-01-31),소-한우,-,구제역진단과,0025-12-19,2019-01-31,충청북도 충주시
1,구제역,황희선,경기도 안성시 양성면 방축리,2019-01-29 (2019-01-29),소-한우,-,구제역진단과,NaN,2019-01-29,경기도 안성시
2,구제역,이한모,경기도 안성시 금광면 오산리,2019-01-28 (2019-01-29),소-젖소,-,구제역진단과,NaN,2019-01-28,경기도 안성시
3,구제역,한강농장,경기도 김포시 하성면 시암리,2018-04-01 (2018-04-03),돼지-일반,-,구제역진단과,NaN,2018-04-01,경기도 김포시
4,구제역,뒤울농장,경기도 김포시 대곶면 율생리,2018-03-26 (2018-03-27),돼지-비육돈,-,구제역진단과,NaN,2018-03-26,경기도 김포시

In [4]:
# merge를 위해 추가
df_gu['시간'] = df_gu['발생일시']
# 지역별 기후데이터를 위해 추가
df_gu['지역'] = df_gu['농장소재지'].apply(lambda x: x.split(' ')[0])
# feature값 부여
df_gu['구제역발생'] = np.repeat(1, len(df_gu))
df_gu.head(2)

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소,시간,지역,구제역발생
0,구제역,일호농장,충청북도 충주시 주덕읍 당우리,2019-01-31 (2019-01-31),소-한우,-,구제역진단과,0025-12-19,2019-01-31,충청북도 충주시,2019-01-31,충청북도,1
1,구제역,황희선,경기도 안성시 양성면 방축리,2019-01-29 (2019-01-29),소-한우,-,구제역진단과,NaN,2019-01-29,경기도 안성시,2019-01-29,경기도,1

In [5]:
df_gu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   가축전염병명    423 non-null    object
 1   농장명(농장주)  423 non-null    object
 2   농장소재지     423 non-null    object
 3   발생일자      423 non-null    object
 4   축종(품종)    423 non-null    object
 5   발생두수(마리)  423 non-null    object
 6   진단기관      423 non-null    object
 7   종식일       11 non-null     object
 8   발생일시      423 non-null    object
 9   발생장소      423 non-null    object
 10  시간        423 non-null    object
 11  지역        423 non-null    object
 12  구제역발생     423 non-null    int32
dtypes: int32(1), object(12)
memory usage: 41.4+ KB

In [6]:
#구제역 농가 지역별로 나누기

df_gu['지역'].value_counts()

충청남도       117
경기도        107
경상북도        73
충청북도        56
강원도         44
인천광역시       12
경상남도         4
전라북도         3
세종특별자치시      3
울산광역시        1
대전광역시        1
부산광역시        1
대구광역시        1
Name: 지역, dtype: int64

In [7]:
# 서울,경기도 : 서울
# 강원도 : 강릉, 춘천
# 충청남도 : 대전
# 충청북도 : 청주
# 전라북도 : 전주
# 전라남도 : 광주
# 경상북도 : 대구
# 경상남도 : 부산
# 제주도 : 제주

# 분류
# 경기도,인천광역시 -> 서울
# 강원도     -> 강릉
# 충청남도,대전광역시,세종특별자치시  -> 대전
# 충청북도 ->  청주
# 경상북도,대구광역시 -> 대구
# 경상남도,부산광역시,울산광역시  -> 부산
# 전라북도 -> 광주

In [8]:
# 지역별 분류

In [12]:
# 서울

df_gu_seoul = df_gu[(df_gu['지역']=='경기도') | (df_gu['지역']=='인천광역시')]

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소,시간,지역,구제역발생
1,구제역,황희선,경기도 안성시 양성면 방축리,2019-01-29 (2019-01-29),소-한우,-,구제역진단과,NaN,2019-01-29,경기도 안성시,2019-01-29,경기도,1
2,구제역,이한모,경기도 안성시 금광면 오산리,2019-01-28 (2019-01-29),소-젖소,-,구제역진단과,NaN,2019-01-28,경기도 안성시,2019-01-28,경기도,1
3,구제역,한강농장,경기도 김포시 하성면 시암리,2018-04-01 (2018-04-03),돼지-일반,-,구제역진단과,NaN,2018-04-01,경기도 김포시,2018-04-01,경기도,1
4,구제역,뒤울농장,경기도 김포시 대곶면 율생리,2018-03-26 (2018-03-27),돼지-비육돈,-,구제역진단과,NaN,2018-03-26,경기도 김포시,2018-03-26,경기도,1
11,구제역,선곡,경기도 연천군 군남면 선곡리,2017-02-08 (2017-02-09),소-젖소,-,구제역진단과,NaN,2017-02-08,경기도 연천군,2017-02-08,경기도,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,구제역,송경식,경기도 안성시 삼죽면 덕산리,2002-05-10 (2002-05-10),돼지-육성돈,-,병리진단과,0014-08-02,2002-05-10,경기도 안성시,2002-05-10,경기도,1
407,구제역,유창주,경기도 안성시 삼죽면 내장리,2002-05-02 (2002-05-02),돼지-육성돈,-,병리진단과,0014-08-02,2002-05-02,경기도 안성시,2002-05-02,경기도,1
413,구제역,권병주농장,경기도 용인시 처인구 남사면 방아리,2000-04-09 (2000-04-09),소-한우,-,병리진단과,NaN,2000-04-09,경기도 용인시,2000-04-09,경기도,1
417,구제역,성규,경기도 화성시 비봉면,2000-04-04 (2000-04-04),소-젖소,-,병리진단과,NaN,2000-04-04,경기도 화성시,2000-04-04,경기도,1
422,구제역,김영규,경기도 파주시 파평면 금파리,2000-03-26 (2000-03-26),소-젖소,-,병리진단과,NaN,2000-03-26,경기도 파주시,2000-03-26,경기도,1

In [18]:
# 날씨 데이터
df_c = pd.read_csv('./data/기상청ASOS관측.csv',index_col=0)
df_c.head()

,지점 번호,관측지점,시간,평균 기온,최저 기온,최저 기온 시각,최고 기온,최대 기온 시각,10분 최다 강수량,10분 최다강수량 시각,...,0.5m 지중온도,1.0m 지중온도,1.5m 지중온도,3.0m 지중온도,5.0m 지중온도,합계 대형증발량,합계 소형증발량,9-9강수,일기현상,안개 계속 시간
0,105,강릉,1980-01-01,3.0,-0.4,714,7.0,1549.0,NaN,NaN,...,6.1,9.1,11.4,15.0,15.4,NaN,0.9,2.6,{비}2218-{비}{강도0}2400-,NaN
1,105,강릉,1980-01-02,6.0,3.5,207,8.4,1500.0,NaN,NaN,...,6.7,9.0,11.1,14.8,15.5,NaN,1.5,1.4,-{비}-{비}{강도0}0300-{비}{강도0}0600-{비}{강도0}0900-{비...,NaN
2,105,강릉,1980-01-03,7.5,4.1,1810,12.8,1330.0,NaN,NaN,...,6.8,9.0,11.0,14.8,15.3,NaN,2.2,NaN,NaN,NaN
3,105,강릉,1980-01-04,4.1,-0.8,2356,6.8,1206.0,NaN,NaN,...,7.0,9.1,11.0,14.7,15.5,NaN,1.8,1.5,{비}1406-{싸락눈}1437-{진눈깨비}1450-{진눈깨비}{강도0}1500-{...,NaN
4,105,강릉,1980-01-05,-0.8,-3.9,746,4.3,1224.0,NaN,NaN,...,7.3,9.1,10.8,14.7,15.4,NaN,2.0,NaN,NaN,NaN

In [23]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176586 entries, 0 to 365
Data columns (total 62 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   지점 번호          176586 non-null  int64
 1   관측지점           176586 non-null  object
 2   시간             176586 non-null  object
 3   평균 기온          176581 non-null  float64
 4   최저 기온          176584 non-null  float64
 5   최저 기온 시각       176586 non-null  int64
 6   최고 기온          176583 non-null  float64
 7   최대 기온 시각       176584 non-null  float64
 8   10분 최다 강수량     44432 non-null   float64
 9   10분 최다강수량 시각   33429 non-null   float64
 10  1시간 최다강수량      44421 non-null   float64
 11  1시간 최다 강수량 시각  33543 non-null   float64
 12  sumRnDur       67858 non-null   float64
 13  일강수량           70401 non-null   float64
 14  최대 순간풍속        176561 non-null  float64
 15  최대 순간 풍속 풍향    176559 non-null  float64
 16  최대 순간풍속 시간     176561 non-null  float64
 17  최대 풍속          176571 non-null  float64
 18  최대 풍속 풍향       176571 non-null  float64
 19  최대 풍속 시각       176573 non-null  float64
 20  평균 풍속          176555 non-null  float64
 21  풍정합            176552 non-null  float64
 22  최대 풍향          176371 non-null  float64
 23  평균 이슬점온도       176581 non-null  float64
 24  최소 상대습도        176581 non-null  float64
 25  평균 상대습도 시각     176582 non-null  float64
 26  평균 상대습도        176577 non-null  float64
 27  평균 증기압         176576 non-null  float64
 28  평균 현지기압        176572 non-null  float64
 29  최고 해면 기압       176571 non-null  float64
 30  최고 해면기압 시각     176578 non-null  float64
 31  최저 해면기압        176567 non-null  float64
 32  최저 해면기압 시각     176577 non-null  float64
 33  평균 해면기압        176573 non-null  float64
 34  가조시간           176581 non-null  float64
 35  합계 일조 시간       176490 non-null  float64
 36  1시간 최다 일사량 시각  147010 non-null  float64
 37  1시간 최다 일사량     147012 non-null  float64
 38  합계 일사          152696 non-null  float64
 39  일 최심신적설        6938 non-null    float64
 40  일 최심신적설 시각     6586 non-null    float64
 41  일 최심적설         10878 non-null   float64
 42  일 최심적설 시각      10725 non-null   float64
 43  합계 3시간 신적설     6914 non-null    float64
 44  평균 전운량         170388 non-null  float64
 45  평균 중하층운량       169981 non-null  float64
 46  평균 지면온도        176567 non-null  float64
 47  최저 초상온도        176569 non-null  float64
 48  평균 5cm 지중온도    133896 non-null  float64
 49  평균10cm 지중온도    133852 non-null  float64
 50  평균 20cm 지중온도   133910 non-null  float64
 51  평균 30cm 지중온도   133899 non-null  float64
 52  0.5m 지중온도      133906 non-null  float64
 53  1.0m 지중온도      133910 non-null  float64
 54  1.5m 지중온도      109605 non-null  float64
 55  3.0m 지중온도      109603 non-null  float64
 56  5.0m 지중온도      109596 non-null  float64
 57  합계 대형증발량       96662 non-null   float64
 58  합계 소형증발량       142474 non-null  float64
 59  9-9강수          61584 non-null   float64
 60  일기현상           114903 non-null  object
 61  안개 계속 시간       11290 non-null   float64
dtypes: float64(57), int64(2), object(3)
memory usage: 84.9+ MB

In [19]:
# 일단 2개 합쳐보기 (x) -> 기후데이터에 모든 지역 다 들어있음
df_merge1 = pd.merge(df_c,df_gu, on='시간', how = 'outer')

In [20]:
df_merge1.head(3)

,지점 번호,관측지점,시간,평균 기온,최저 기온,최저 기온 시각,최고 기온,최대 기온 시각,10분 최다 강수량,10분 최다강수량 시각,...,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소,구제역발생
0,105,강릉,1980-01-01,3.0,-0.4,714,7.0,1549.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101,춘천,1980-01-01,0.3,-3.6,825,4.4,1500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,115,울릉도,1980-01-01,2.3,0.5,140,3.9,2400.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_merge1['구제역발생'].value_counts()

1.0    5061
Name: 구제역발생, dtype: int64