## 산불 원인

![](https://www.forest.go.kr/kfsweb/cmm/fms/getImage.do?atchFileId=FILE_000000020058626&fileSn=1&thumbYn=)

## 계절별 비율

![](https://www.forest.go.kr/kfsweb/cmm/fms/getImage.do?atchFileId=FILE_000000020046889&fileSn=1&thumbYn=)

## 산불의 가장 큰 원인 
* 기후변화(습도, 풍속, 온도 등등)
* 등산객 수

In [8]:
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup

In [173]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time

f_day = '19800101'
l_day = '20101231'

endday = []
endmonth = []
endtime = []
endyear = []

firecause = []

locbunji = []
locsi = []
locdong = []
locgungu = []
locmenu = []

startday = []
startdayofweek = []
startmonth = []
starttime= []
startyear = []

damagearea= []


page = 1
# totalCount>8477

for p in range(1, page+1):

    key = 'lj1bcK6kk1SlfbI0bHFwZNqo8sjEyQJ0XDwGOjV70SP2vXBS/DosbER90s3y1LOZCPEcQn3SqArgHpIv+Azj1Q=='

    url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice'

    params = {'serviceKey' : key, 'numOfRows' : '10000', 'pageNo' : page , 'searchStDt' : f_day, 'searchEdDt' : l_day }
    
#     headers = {
#         'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/605.1.15 (KHTML,like GecKo) Chrome/79.0.3945.13 Safari/605.1.15',
#     }
    
    response = requests.get(url, params= params)
    time.sleep(0.3)
    res = response.text
    soup = BeautifulSoup(res,'html.parser')

    items = soup.find_all('item')
    for item in items:
        
        endday.append(item.find('endday'))
        endmonth.append(item.find('endmonth'))
        endtime.append(item.find('endtime'))
        endyear.append(item.find('endyear'))
        
        firecause.append(item.find('firecause'))
        
        locbunji.append(item.find('locbunji'))
        locdong.append(item.find('locdong'))
        locgungu.append(item.find('locgungu'))
        locmenu.append(item.find('locmenu'))
        locsi.append(item.find('locsi'))
        
        startday.append(item.find('startday'))
        startdayofweek.append(item.find('startdayofweek'))
        startmonth.append(item.find('startmonth'))
        starttime.append(item.find('starttime'))
        startyear.append(item.find('startyear'))
        
        damagearea.append(item.find('damagearea'))

        
df = pd.DataFrame({'startyear':startyear,'startmonth':startmonth,'startday':startday,'starttime':starttime,'startdayofweek':startdayofweek,
                   'endyear':endyear,'endmonth':endmonth,'endday':endday, 'endtime':endtime, 
                   'locbunji':locbunji,'locsi':locsi,'locgungu':locgungu,'locmenu':locmenu,'locdong': locdong,
                   'firecause':firecause, 'damagearea':damagearea
                 })

# df.to_csv('./data/산불_api.csv')

In [ ]:
# 피해면적합계	damagearea	10	필수	1	피해면적합계

# 진화종료 일	endday	2	필수	03	진화종료 일
# 진화종료 월	endmonth	2	필수	06	진화종료 월
# 진화종료 일시	endtime	8	필수	17:50:00	진화종료 일시
# 진화종료 연도	endyear	4	필수	2002	진화종료 연도

# 발생원인	firecause	50	필수	농산부산물소각	발생원인

# 발생장소_지번	locbunji	30	필수	산48	발생장소_지번
# 발생장소_동리	locdong	20	필수	대	발생장소_동리
# 발생장소_시군구	locgungu	10	필수	신안	발생장소_시군구
# 발생장소_읍면	locmenu	10	필수	안좌	발생장소_읍면
# 발생장소_시도	locsi	10	필수	전남	발생장소_시도

# 발생일	startday	2	필수	03	발생일
# 발생요일	startdayofweek	6	필수	월요일	발생요일
# 발생월	startmonth	2	필수	06	발생월
# 발생시간	starttime	8	필수	15:10:00	발생시간
# 발생연도	startyear	4	필수	2002	발생연도

In [174]:
df

,startyear,startmonth,startday,starttime,startdayofweek,endyear,endmonth,endday,endtime,locbunji,locsi,locgungu,locmenu,locdong,firecause,damagearea
0,[2009],[11],[23],[14:20:00],[월요일],[2009],[11],[23],[15:30:00],[산78-1],[울산],[북],None,[연암동],[미정],[0.01]
1,[2009],[11],[24],[12:15:00],[화요일],[2009],[11],[24],[12:50:00],[산1-2],[경북],[봉화],[석포],[승부],[담배불실화],[0.1]
2,[2009],[11],[24],[14:25:00],[화요일],[2009],[11],[24],[14:50:00],[산103-1],[경북],[군위],[부계],[창평],[쓰레기소각],[0.1]
3,[2009],[12],[05],[19:26:00],[토요일],[2009],[12],[05],[21:50:00],[산51-100],[부산],[해운대],None,[반송],[입산자실화 추정],[0.12]
4,[2009],[12],[14],[15:25:00],[월요일],[2009],[12],[14],[16:35:00],[산7],[인천],[서],None,[석남동],[입산자실화],[0.5]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,[2006],[01],[02],[05:40:00],[월요일],[2006],[01],[02],[07:20:00],[산153],[경남],[마산],[구산],[내포],[입산자실화],[0.05]
3391,[2006],[01],[02],[15:31:00],[월요일],[2006],[01],[02],[15:50:00],[산198-2],[대구],[달서],[성당],None,[입산자실화],[0.02]
3392,[2006],[01],[03],[04:15:00],[화요일],[2006],[01],[03],[15:40:00],[산2-12],[경북],[칠곡],[지천],[심천],[입산자실화],[10]
3393,[2006],[01],[03],[05:40:00],[화요일],[2006],[01],[03],[09:10:00],[산6],[경북],[칠곡],[동명],[송산],[입산자실화],[3]
3394,[2006],[01],[03],[10:40:00],[화요일],[2006],[01],[03],[12:10:00],[산11],[경북],[영덕],[영해],[괴시],[입산자실화],[0.8]

In [33]:
tmp = [1,2,3]
tmp.append(soup.find_all('item')[0].find('hihihihi'))

In [34]:
tmp

[1, 2, 3, None]

In [190]:
df['startyear'].unique()

array([<startyear>2009</startyear>, <startyear>2010</startyear>,
       <startyear>2004</startyear>, <startyear>2006</startyear>,
       <startyear>2008</startyear>, <startyear>2005</startyear>,
       <startyear>2007</startyear>, <startyear>2003</startyear>],
      dtype=object)

In [196]:
# 데이터프레임 복제
df1 = df.copy()
df1

,startyear,startmonth,startday,starttime,startdayofweek,endyear,endmonth,endday,endtime,locbunji,locsi,locgungu,locmenu,locdong,firecause,damagearea
0,[2009],[11],[23],[14:20:00],[월요일],[2009],[11],[23],[15:30:00],[산78-1],[울산],[북],None,[연암동],[미정],[0.01]
1,[2009],[11],[24],[12:15:00],[화요일],[2009],[11],[24],[12:50:00],[산1-2],[경북],[봉화],[석포],[승부],[담배불실화],[0.1]
2,[2009],[11],[24],[14:25:00],[화요일],[2009],[11],[24],[14:50:00],[산103-1],[경북],[군위],[부계],[창평],[쓰레기소각],[0.1]
3,[2009],[12],[05],[19:26:00],[토요일],[2009],[12],[05],[21:50:00],[산51-100],[부산],[해운대],None,[반송],[입산자실화 추정],[0.12]
4,[2009],[12],[14],[15:25:00],[월요일],[2009],[12],[14],[16:35:00],[산7],[인천],[서],None,[석남동],[입산자실화],[0.5]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,[2006],[01],[02],[05:40:00],[월요일],[2006],[01],[02],[07:20:00],[산153],[경남],[마산],[구산],[내포],[입산자실화],[0.05]
3391,[2006],[01],[02],[15:31:00],[월요일],[2006],[01],[02],[15:50:00],[산198-2],[대구],[달서],[성당],None,[입산자실화],[0.02]
3392,[2006],[01],[03],[04:15:00],[화요일],[2006],[01],[03],[15:40:00],[산2-12],[경북],[칠곡],[지천],[심천],[입산자실화],[10]
3393,[2006],[01],[03],[05:40:00],[화요일],[2006],[01],[03],[09:10:00],[산6],[경북],[칠곡],[동명],[송산],[입산자실화],[3]
3394,[2006],[01],[03],[10:40:00],[화요일],[2006],[01],[03],[12:10:00],[산11],[경북],[영덕],[영해],[괴시],[입산자실화],[0.8]

In [197]:
# 얜 왜 안될까

def text(x):
    try: 
        x = x.text
        return x
    except:
        return np.nan

In [198]:
for i in range(0,16):
    df1.iloc[:,i] = df1.iloc[:,i].apply(lambda x :text(x))

In [199]:
# df1['startyear'].apply(lambda x :text(x))

In [200]:
df1.startday[0]

'23'

In [201]:
df1

,startyear,startmonth,startday,starttime,startdayofweek,endyear,endmonth,endday,endtime,locbunji,locsi,locgungu,locmenu,locdong,firecause,damagearea
0,2009,11,23,14:20:00,월요일,2009,11,23,15:30:00,산78-1,울산,북,NaN,연암동,미정,0.01
1,2009,11,24,12:15:00,화요일,2009,11,24,12:50:00,산1-2,경북,봉화,석포,승부,담배불실화,0.1
2,2009,11,24,14:25:00,화요일,2009,11,24,14:50:00,산103-1,경북,군위,부계,창평,쓰레기소각,0.1
3,2009,12,05,19:26:00,토요일,2009,12,05,21:50:00,산51-100,부산,해운대,NaN,반송,입산자실화 추정,0.12
4,2009,12,14,15:25:00,월요일,2009,12,14,16:35:00,산7,인천,서,NaN,석남동,입산자실화,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,2006,01,02,05:40:00,월요일,2006,01,02,07:20:00,산153,경남,마산,구산,내포,입산자실화,0.05
3391,2006,01,02,15:31:00,월요일,2006,01,02,15:50:00,산198-2,대구,달서,성당,NaN,입산자실화,0.02
3392,2006,01,03,04:15:00,화요일,2006,01,03,15:40:00,산2-12,경북,칠곡,지천,심천,입산자실화,10
3393,2006,01,03,05:40:00,화요일,2006,01,03,09:10:00,산6,경북,칠곡,동명,송산,입산자실화,3
3394,2006,01,03,10:40:00,화요일,2006,01,03,12:10:00,산11,경북,영덕,영해,괴시,입산자실화,0.8

In [186]:
for i in range(16):
    df1.iloc[:,i]=df.iloc[:,i].apply(lambda x: x.text if x else x )

In [187]:
df1

,startyear,startmonth,startday,starttime,startdayofweek,endyear,endmonth,endday,endtime,locbunji,locsi,locgungu,locmenu,locdong,firecause,damagearea
0,2009,11,23,14:20:00,월요일,2009,11,23,15:30:00,산78-1,울산,북,None,연암동,미정,0.01
1,2009,11,24,12:15:00,화요일,2009,11,24,12:50:00,산1-2,경북,봉화,석포,승부,담배불실화,0.1
2,2009,11,24,14:25:00,화요일,2009,11,24,14:50:00,산103-1,경북,군위,부계,창평,쓰레기소각,0.1
3,2009,12,05,19:26:00,토요일,2009,12,05,21:50:00,산51-100,부산,해운대,None,반송,입산자실화 추정,0.12
4,2009,12,14,15:25:00,월요일,2009,12,14,16:35:00,산7,인천,서,None,석남동,입산자실화,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,2006,01,02,05:40:00,월요일,2006,01,02,07:20:00,산153,경남,마산,구산,내포,입산자실화,0.05
3391,2006,01,02,15:31:00,월요일,2006,01,02,15:50:00,산198-2,대구,달서,성당,None,입산자실화,0.02
3392,2006,01,03,04:15:00,화요일,2006,01,03,15:40:00,산2-12,경북,칠곡,지천,심천,입산자실화,10
3393,2006,01,03,05:40:00,화요일,2006,01,03,09:10:00,산6,경북,칠곡,동명,송산,입산자실화,3
3394,2006,01,03,10:40:00,화요일,2006,01,03,12:10:00,산11,경북,영덕,영해,괴시,입산자실화,0.8

In [189]:
df1.to_csv('./data/산불_api_수정.csv')