In [42]:
import pandas as pd
import numpy as np

In [43]:
df1 =pd.read_excel('./data/sanbul.xls', header=2)

df1.head()

,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_관서,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인_구분,발생원인_세부원인,발생원인_기타,피해면적_합계
0,2021,12,30,14:57,목,2021,12,30,17:30,경북,경북,봉화,명호,양곡,건,주택화재비화,NaN,0.50
1,2021,12,30,11:16,목,2021,12,30,12:30,충북,충북,청주,오송,상봉,기,기타(직접입력),원인미상,0.40
2,2021,12,29,14:20,수,2021,12,29,17:30,경남,경남,남해,창선,가인,기,기타(직접입력),원인미상,0.50
3,2021,12,29,13:53,수,2021,12,29,16:10,전남,전남,순천,NaN,대룡,쓰,쓰레기소각,NaN,0.03
4,2021,12,29,05:47,수,2021,12,29,12:00,전남,전남,완도,완도,장좌,입,기타(직접입력),입산자실화,0.10

In [44]:
df1.columns.nunique() # 관서

18

In [45]:
df1.columns 
#발생원인 구분 
# 발생원인 합치기
# 발생 관서

Index(['발생일시_년', '발생일시_월', '발생일시_일', '발생일시_시간', '발생일시_요일', '진화종료시간_년',
       '진화종료시간_월', '진화종료시간_일', '진화종료시간_시간', '발생장소_관서', '발생장소_시도', '발생장소_시군구',
       '발생장소_읍면', '발생장소_동리', '발생원인_구분', '발생원인_세부원인', '발생원인_기타', '피해면적_합계'],
      dtype='object')

In [46]:
# 발생원인 합치기
lst = []

for i in range(len(df1)):
    if df1['발생원인_세부원인'][i] == '기타(직접입력)' :
        lst.append(df1['발생원인_기타'][i])
    else:
        lst.append(df1['발생원인_세부원인'][i])

df1.insert(17,'발생원인',lst)
df1

,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_관서,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인_구분,발생원인_세부원인,발생원인_기타,발생원인,피해면적_합계
0,2021,12,30,14:57,목,2021,12,30,17:30,경북,경북,봉화,명호,양곡,건,주택화재비화,NaN,주택화재비화,0.50
1,2021,12,30,11:16,목,2021,12,30,12:30,충북,충북,청주,오송,상봉,기,기타(직접입력),원인미상,원인미상,0.40
2,2021,12,29,14:20,수,2021,12,29,17:30,경남,경남,남해,창선,가인,기,기타(직접입력),원인미상,원인미상,0.50
3,2021,12,29,13:53,수,2021,12,29,16:10,전남,전남,순천,NaN,대룡,쓰,쓰레기소각,NaN,쓰레기소각,0.03
4,2021,12,29,05:47,수,2021,12,29,12:00,전남,전남,완도,완도,장좌,입,기타(직접입력),입산자실화,입산자실화,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,2012,1,14,22:15,토,2012,1,15,09:40,전남,전남,완도,금일,동백,기,낚시꾼실화,NaN,낚시꾼실화,2.00
4805,2012,1,11,15:15,수,2012,1,11,16:50,북부,강원,홍천,홍천,하오안,입,등산객실화,NaN,등산객실화,0.03
4806,2012,1,11,14:30,수,2012,1,11,16:15,경기,경기,남양주,호평,NaN,입,입산자실화,NaN,입산자실화,0.10
4807,2012,1,9,12:15,월,2012,1,9,13:40,경북,경북,영덕,지품,오천,건,보일러과열,NaN,보일러과열,0.10
4808,2012,1,5,11:39,공,2012,1,5,13:04,부산,부산,동,초량,NaN,입,등산객담뱃불실화,NaN,등산객담뱃불실화,0.10

In [47]:
df1['발생원인_세부원인'].isnull().sum()

12

In [48]:
df1[df1['발생원인_세부원인'].isnull()]

,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_관서,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인_구분,발생원인_세부원인,발생원인_기타,발생원인,피해면적_합계
46,2021,11,5,22:15,금,2021,11,5,23:50,전남,전남,완도,고금,세동,담,NaN,NaN,NaN,0.03
83,2021,5,3,15:30,월,2021,5,3,16:16,경기,경기,의왕,NaN,내손,담,NaN,NaN,NaN,0.01
111,2021,4,23,16:10,금,2021,4,23,17:00,남부,경북,예천,효자,보곡,담,NaN,NaN,NaN,2.00
190,2021,3,26,12:50,금,2021,3,26,16:24,경남,경남,거창,고제,개명,담,NaN,NaN,NaN,1.00
333,2021,1,10,04:24,일,2021,1,10,05:47,부산,부산,수영,NaN,망미,담,NaN,NaN,NaN,0.01
556,2020,4,28,23:57,화,2020,4,29,01:32,인천,인천,연수,NaN,연수,담,NaN,NaN,NaN,0.03
736,2020,3,28,17:05,토,2020,3,28,18:50,경기,경기,안양,동안,비산,담,NaN,NaN,NaN,0.08
815,2020,3,19,18:10,목,2020,3,19,22:15,남부,경북,청도,운문,신원,담,NaN,NaN,NaN,0.50
818,2020,3,19,15:20,목,2020,3,19,17:38,전남,전남,고흥,두원,옹당,담,NaN,NaN,NaN,0.10
846,2020,3,16,08:30,월,2020,3,16,11:00,경기,경기,안양,만안,안양,담,NaN,NaN,NaN,0.07
918,2020,2,9,21:23,일,2020,2,9,22:30,경기,경기,성남,NaN,상대원,담,NaN,NaN,NaN,0.01
4521,2013,3,10,13:55,일,2013,3,10,16:15,경북,경북,청송,안덕,문거,담,NaN,NaN,NaN,1.00

In [49]:
# df1[df1['발생원인_세부원인']== 'NaN']

In [50]:
df1 = df1.drop(columns = ['발생원인_구분','발생원인_세부원인','발생원인_기타', '발생장소_관서'])
df1

,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인,피해면적_합계
0,2021,12,30,14:57,목,2021,12,30,17:30,경북,봉화,명호,양곡,주택화재비화,0.50
1,2021,12,30,11:16,목,2021,12,30,12:30,충북,청주,오송,상봉,원인미상,0.40
2,2021,12,29,14:20,수,2021,12,29,17:30,경남,남해,창선,가인,원인미상,0.50
3,2021,12,29,13:53,수,2021,12,29,16:10,전남,순천,NaN,대룡,쓰레기소각,0.03
4,2021,12,29,05:47,수,2021,12,29,12:00,전남,완도,완도,장좌,입산자실화,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,2012,1,14,22:15,토,2012,1,15,09:40,전남,완도,금일,동백,낚시꾼실화,2.00
4805,2012,1,11,15:15,수,2012,1,11,16:50,강원,홍천,홍천,하오안,등산객실화,0.03
4806,2012,1,11,14:30,수,2012,1,11,16:15,경기,남양주,호평,NaN,입산자실화,0.10
4807,2012,1,9,12:15,월,2012,1,9,13:40,경북,영덕,지품,오천,보일러과열,0.10
4808,2012,1,5,11:39,공,2012,1,5,13:04,부산,동,초량,NaN,등산객담뱃불실화,0.10

In [51]:
df2 = pd.read_csv('./data/산불_api_수정.csv',index_col=0)
df2.head()

,startyear,startmonth,startday,starttime,startdayofweek,endyear,endmonth,endday,endtime,locbunji,locsi,locgungu,locmenu,locdong,firecause,damagearea
0,2009,11,23,14:20:00,월요일,2009,11,23,15:30:00,산78-1,울산,북,NaN,연암동,미정,0.01
1,2009,11,24,12:15:00,화요일,2009,11,24,12:50:00,산1-2,경북,봉화,석포,승부,담배불실화,0.10
2,2009,11,24,14:25:00,화요일,2009,11,24,14:50:00,산103-1,경북,군위,부계,창평,쓰레기소각,0.10
3,2009,12,5,19:26:00,토요일,2009,12,5,21:50:00,산51-100,부산,해운대,NaN,반송,입산자실화 추정,0.12
4,2009,12,14,15:25:00,월요일,2009,12,14,16:35:00,산7,인천,서,NaN,석남동,입산자실화,0.50

In [52]:
df2.columns.nunique()

16

In [53]:
df2.columns

Index(['startyear', 'startmonth', 'startday', 'starttime', 'startdayofweek',
       'endyear', 'endmonth', 'endday', 'endtime', 'locbunji', 'locsi',
       'locgungu', 'locmenu', 'locdong', 'firecause', 'damagearea'],
      dtype='object')

In [55]:
df2 = df2.drop(columns = ['locbunji'])
df2

,startyear,startmonth,startday,starttime,startdayofweek,endyear,endmonth,endday,endtime,locsi,locgungu,locmenu,locdong,firecause,damagearea
0,2009,11,23,14:20:00,월요일,2009,11,23,15:30:00,울산,북,NaN,연암동,미정,0.01
1,2009,11,24,12:15:00,화요일,2009,11,24,12:50:00,경북,봉화,석포,승부,담배불실화,0.10
2,2009,11,24,14:25:00,화요일,2009,11,24,14:50:00,경북,군위,부계,창평,쓰레기소각,0.10
3,2009,12,5,19:26:00,토요일,2009,12,5,21:50:00,부산,해운대,NaN,반송,입산자실화 추정,0.12
4,2009,12,14,15:25:00,월요일,2009,12,14,16:35:00,인천,서,NaN,석남동,입산자실화,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,2006,1,2,05:40:00,월요일,2006,1,2,07:20:00,경남,마산,구산,내포,입산자실화,0.05
3391,2006,1,2,15:31:00,월요일,2006,1,2,15:50:00,대구,달서,성당,NaN,입산자실화,0.02
3392,2006,1,3,04:15:00,화요일,2006,1,3,15:40:00,경북,칠곡,지천,심천,입산자실화,10.00
3393,2006,1,3,05:40:00,화요일,2006,1,3,09:10:00,경북,칠곡,동명,송산,입산자실화,3.00
3394,2006,1,3,10:40:00,화요일,2006,1,3,12:10:00,경북,영덕,영해,괴시,입산자실화,0.80

In [56]:
df2.columns = ['발생일시_년','발생일시_월','발생일시_일','발생일시_시간','발생일시_요일',
               '진화종료시간_년','진화종료시간_월','진화종료시간_일','진화종료시간_시간',
               '발생장소_시도','발생장소_시군구','발생장소_읍면','발생장소_동리','발생원인','피해면적_합계']
df2

,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인,피해면적_합계
0,2009,11,23,14:20:00,월요일,2009,11,23,15:30:00,울산,북,NaN,연암동,미정,0.01
1,2009,11,24,12:15:00,화요일,2009,11,24,12:50:00,경북,봉화,석포,승부,담배불실화,0.10
2,2009,11,24,14:25:00,화요일,2009,11,24,14:50:00,경북,군위,부계,창평,쓰레기소각,0.10
3,2009,12,5,19:26:00,토요일,2009,12,5,21:50:00,부산,해운대,NaN,반송,입산자실화 추정,0.12
4,2009,12,14,15:25:00,월요일,2009,12,14,16:35:00,인천,서,NaN,석남동,입산자실화,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,2006,1,2,05:40:00,월요일,2006,1,2,07:20:00,경남,마산,구산,내포,입산자실화,0.05
3391,2006,1,2,15:31:00,월요일,2006,1,2,15:50:00,대구,달서,성당,NaN,입산자실화,0.02
3392,2006,1,3,04:15:00,화요일,2006,1,3,15:40:00,경북,칠곡,지천,심천,입산자실화,10.00
3393,2006,1,3,05:40:00,화요일,2006,1,3,09:10:00,경북,칠곡,동명,송산,입산자실화,3.00
3394,2006,1,3,10:40:00,화요일,2006,1,3,12:10:00,경북,영덕,영해,괴시,입산자실화,0.80

In [57]:
df_total = pd.concat([df1,df2])
df_total

,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인,피해면적_합계
0,2021,12,30,14:57,목,2021,12,30,17:30,경북,봉화,명호,양곡,주택화재비화,0.50
1,2021,12,30,11:16,목,2021,12,30,12:30,충북,청주,오송,상봉,원인미상,0.40
2,2021,12,29,14:20,수,2021,12,29,17:30,경남,남해,창선,가인,원인미상,0.50
3,2021,12,29,13:53,수,2021,12,29,16:10,전남,순천,NaN,대룡,쓰레기소각,0.03
4,2021,12,29,05:47,수,2021,12,29,12:00,전남,완도,완도,장좌,입산자실화,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,2006,1,2,05:40:00,월요일,2006,1,2,07:20:00,경남,마산,구산,내포,입산자실화,0.05
3391,2006,1,2,15:31:00,월요일,2006,1,2,15:50:00,대구,달서,성당,NaN,입산자실화,0.02
3392,2006,1,3,04:15:00,화요일,2006,1,3,15:40:00,경북,칠곡,지천,심천,입산자실화,10.00
3393,2006,1,3,05:40:00,화요일,2006,1,3,09:10:00,경북,칠곡,동명,송산,입산자실화,3.00
3394,2006,1,3,10:40:00,화요일,2006,1,3,12:10:00,경북,영덕,영해,괴시,입산자실화,0.80

In [58]:
df_total['발생일시_년'].unique()

array([2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2009,
       2010, 2004, 2006, 2008, 2005, 2007, 2003], dtype=int64)

In [59]:
df_total.to_csv('./data/산불_2003_2021.csv')